@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* ALLES */
/* CSS für "alles" */
* {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

/* CSS für <html> und <body> */
html, body {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    background-color: #2d3238 !important;
    height: 100%;
	margin: 0;
}

/* CSS für List Items, Verlinkungen und Knöpfe */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 18px !important;
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    text-decoration: none !important;
}

/* CSS für <span> <div> und <i> */
span, div, i {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}

/* CSS für <hr> (Horizontal Line) */
hr {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    border: 0 !important;
    border-top: 1px solid #ffffff !important;
    width: 90% !important;
    margin: auto !important;
    opacity: .25 !important;
}



/* Aufgrund von unserem Style Switch (classes welche sich je nach CSS Datei ändern) */
/* Custom Background */
.cbg {
    background-color: #212529 !important;
}

/* Custom Background 2 */
.cbg2 {
    background-color: #141618 !important;
}

/* Custom Text */
.ctext {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}



/* Other Custom stuff */
/* CSS für das 404 Image */
.fof-img {
    background-image: url("/media/404_dark.gif");
    height: 70%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Custom Vertical line left */
.cvr {
    border-left: 2px solid #dee2e6;
    height: 100%;
}

/* Custom Vertical line right */
.cvl {
    border-right: 2px solid #dee2e6;
    height: 100%;
}



/* Styleswitcher CSS für Rainbow Style */
/* der Switcher an sich */
.styleswitcherlabel {
    color: #ffffff;
    animation: rainbow-bg 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}

/* Ausblenden der Sonne wenn "nicht aktiv" */
.styleswitcherlabel::after {
    display: none;
}

/* Ausblenden des Mondes wenn "nicht aktiv" */
.styleswitcher:checked + .styleswitcherlabel:after {
    display: none;
}



/* Custom CSS für Bootstrap Sachen */
/* CSS für dropdown-menus (kommt an sich nur im Header vor) */
.dropdown-menu {
    background-color: #212529 !important;
}

/* CSS fpr dropdown-items (kommt so auch nur im Header vor) */
.dropdown-item {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    font-size: 1.3rem;
    color: #ffffff;
}

/* CSS für das hovern auf dropdown-items */
.dropdown-item:hover {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
    background-color: #2c3135 !important;
}

/* Navbar Icon CSS */
.navbar-icon {
    height: 50px;
    width: 50px;
    display: block;
}
.navbar-icon-g {
    animation: rainbow-icon 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}

/* CSS für unsere Icons (an sich auch nur die im Header) */
.fa-user, .fa-cart-shopping, .fa-circle-info, .fa-exclamation{
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    font-size: 1.5rem;
    color: #ffffff;
    transition: all 0.5s ease;
}

/* Anpassung am Bootstrap Primary text */
.text-primary {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: teal;
}

/* Anpassung am Bootstrap Dark text */
.text-dark {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #212529;
}

/* Anpassung am Bootstrap White text */
.text-white {
    animation: rainbow 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
    color: #ffffff;
}

/* Bootstrap Button Primary hover Anpassung (Rainbow animation) */
.btn-primary:hover {
    color: #ffffff;
    animation: rainbow-bg 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}

/* Bootstrap Button Outline Primary Anpassung (Rainbow animation) */
.btn-outline-primary {
    animation: rainbow-border 2.5s linear  !important;
    animation-iteration-count: infinite  !important;
}



/* Rainbow Animationen */
@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rainbow-border{
    100%,0%{
        border-color: rgb(255,0,0);
        color: rgb(255,0,0);
    }
    8%{
        border-color: rgb(255,127,0);
        color: rgb(255,127,0);
    }
    16%{
        border-color: rgb(255,255,0);
        color: rgb(255,255,0);
    }
    25%{
        border-color: rgb(127,255,0);
        color: rgb(127,255,0);
    }
    33%{
        border-color: rgb(0,255,0);
        color: rgb(0,255,0);
    }
    41%{
        border-color: rgb(0,255,127);
        color: rgb(0,255,127);
    }
    50%{
        border-color: rgb(0,255,255);
        color: rgb(0,255,255);
    }
    58%{
        border-color: rgb(0,127,255);
        color: rgb(0,127,255);
    }
    66%{
        border-color: rgb(0,0,255);
        color: rgb(0,0,255);
    }
    75%{
        border-color: rgb(127,0,255);
        color: rgb(127,0,255);
    }
    83%{
        border-color: rgb(255,0,255);
        color: rgb(255,0,255);
    }
    91%{
        border-color: rgb(255,0,127);
        color: rgb(255,0,127);
    }
}

@keyframes rainbow-icon{
    100%,0%{
        fill: rgb(255,0,0);
    }
    8%{
        fill: rgb(255,127,0);
    }
    16%{
        fill: rgb(255,255,0);
    }
    25%{
        fill: rgb(127,255,0);
    }
    33%{
        fill: rgb(0,255,0);
    }
    41%{
        fill: rgb(0,255,127);
    }
    50%{
        fill: rgb(0,255,255);
    }
    58%{
        fill: rgb(0,127,255);
    }
    66%{
        fill: rgb(0,0,255);
    }
    75%{
        fill: rgb(127,0,255);
    }
    83%{
        fill: rgb(255,0,255);
    }
    91%{
        fill: rgb(255,0,127);
    }
}